.App {
  text-align: start;
  flex: 1;
}
.text {
  font-size: 16px;
  color: black;
}
.todo_div {
  padding: 20px;
}
.item_div {
  flex-direction: row;
  flex-flow: row;
  display: flex;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  align-items: center;
  flex: 1;
}
.text {
  font-size: 15px;
  flex: 1;
  color: black;
}
.btn {
  color: white;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  border-width: 0px;
  border-radius: 4px;
  padding: 5px;
  background-color: red;
}

.header{
  color: black;
  font-size: 22px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.textbox{
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.content{
  background-color: lightblue;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
}

.links{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navTab{
  margin-left: 20px;
  color: red;
}

.blogViewText{
  white-space: pre;
  font-weight: bold;
}

.profileDiv{
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px #f7a1a1;
}

.profileform{
  display: flex;
  flex-direction: column;
}

.btn_submit{
  background-color: green;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  height: 45px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.textBox{
  font-size: 14px;
  color: black;
  font-weight: 500;
  border-color: gray;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 4px;
}

.lableName{
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.details{
  white-space: pre-wrap;
  font-size: 14px;
  color: red;
  font-weight: 700;
}

.delete{
  border-width: 0px;
  background-color: red;
  font-size: 10px;
  color: white;
  font-weight: bold;
  height: 30px;
  border-radius: 5px;
}

.not_fount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formik_div{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.error_field{
 color: red;
 font-size: 10px; 
}

.formik_submit{
  margin: 20px;
}